@tailwind base;
@tailwind components;
@tailwind utilities;

*,
html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(217, 217, 217) !important;
  margin: 0;
  font-family: "Rubik", sans-serif !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
